*{
    margin: 0;
padding: 0;
box-sizing: border-box;

}

body {
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
background: #e8e8e8;

}
header {
position: fixed;
width: 100%;
top:0;
left: 0;
padding: 20px;
background-color: #b80c0c;
}
header #button-menu{
    font-size: 30px;
    color:#fff;
    cursor:pointer;
}
.navigation{   
position: absolute;
top: 100%;
left: 0;
width: 0%;
height: 100vh;
background:rgba(0, 0, 0, 0);
transition:backgorund 0.2s;
}

.navigation ul{
width: 320px;
height: 100%;
background: #fff;
list-style: none;
position: absolute;
top:0;
left: -320px;
transition: left .3s;
}

.navigation .menu li.title-menu {
    padding: 20px;
    background: #5f5f5f;
color: #fff;
text-align:center;
font-size: 22px;
}
.navigation .menu a{
    display: block;
    padding :20px;
    border-bottom: 2px solid #661100;
    font-size:22px;
    font-weight :200;
text-decoration:none;
color:#575d68;
}
.navigation .menu li span.icon-menu{
margin-right: 12px;
}
.navigation .menu .item-submenu > a::after{
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
content: '\f105';
float: right;
color:rgb(7, 4, 4);
}

.navigation .Submenu li.title-menu{
    background: #fff;
    color: #557755;
}

.navigation .Submenu li.go-back{
padding: 10px 20 px;
background: #55ff55;
color: #fff;
font-size:pointer;
}
.navigation .Submenu li.go-back::before{
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: '\f0d9';
    margin-right: 10px;
    
}
@media screen and (max-width:320px){
    .navigation ul{
        width: 100%;
    }
}
